backend/.vs/
Notes.txt
backend/ShopOnline.Common/bin/
backend/ShopOnline.Common/obj/
backend/ShopOnline.IdentityServer/bin/
backend/ShopOnline.IdentityServer/tempkey.jwk
backend/ShopOnline.IdentityServer/keys/is-signing-key-25C9AF914A87F9BF13587ABD749737CB.json
backend/ShopOnline.IdentityServer/obj/
backend/ShopOnline.MvcClient/bin/
backend/ShopOnline.MvcClient/obj/
backend/ShopOnlineApi.Tests/bin/
backend/ShopOnlineApi.Tests/obj/
backend/ShopOnlineApi/bin/
backend/ShopOnlineApi/obj/
zbackup/2025-12-12/backend/.vs/
zbackup/2025-12-12/backend/ShopOnline.Common/obj/
zbackup/2025-12-12/backend/ShopOnline.Common/bin/
zbackup/2025-12-12/backend/ShopOnline.IdentityServer/bin/
zbackup/2025-12-12/backend/ShopOnline.IdentityServer/obj/
zbackup/2025-12-12/backend/ShopOnline.MvcClient/bin/
zbackup/2025-12-12/backend/ShopOnline.MvcClient/obj/
zbackup/2025-12-12/backend/ShopOnlineApi.Tests/bin/
zbackup/2025-12-12/backend/ShopOnlineApi.Tests/obj/
zbackup/2025-12-12/backend/ShopOnlineApi/obj/
backend/ShopOnline.IdentityServer/keys/is-signing-key-AA9340D01B10515C391C801F8B438038.json
AppSolution2026/api_net_core/.vs/
AppSolution2026/api_net_core/ShopOnline.IdentityServer/keys/is-signing-key-2D3265B57D62810154801E6BB8E5FE98.json
AppSolution2026/api_net_core/ShopOnline.IdentityServer/keys/is-signing-key-9344E39D8D8358C379C63C54E68627DA.json
